body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
  /* Added some padding not sure why */
}

.title-container {
  height: 100px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.boxes-container1,
.boxes-container2 {
  height: 250px;
  display: flex;
  align-items: center;
}

.boxes-container1 {
  margin: 20px 320px 20px 135px;
  justify-content: space-between;
}

.boxes-container2 {
  margin: 20px 135px 20px 320px;
  justify-content: space-between;
}

.link {
  /* border: 2px dashed black; */
  font-size: larger;
  width: 120px;
  height: 120px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Initially hide some links (stage 2, 3, 4) */
#link2,
#link3,
#link4 {
  display: none;
}

#link1 {
  border: 2px dashed black;
  opacity: 0.75;
}

.answer-container {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightblue;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-container textarea {
  width: 100%;
  /* Take up all available width inside the container */
  height: 100px;
  /* Set a height for the textarea */
  font-size: 16px;
  /* Adjust font size for better readability */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  resize: none;
  /* Disable resizing */
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Styling for the return link */
a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  /* margin-top: 20px; */
  display: block;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

#p5-canvas-container {
  position: absolute;
  z-index: -1;
}